<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<title>Entre Amigos</title>
	<meta charset="UTF-8"/>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
</head>

<body>
<header th:fragment="header" class="header">
	
	<div class="container-xl ">
		<div class="row justify-content-center justify-content-md-between">
                    
			<nav class="col-3 d-flex flex-column align-items-center mt-5 mt-md-0 flex-md-row justify-content-md-end">
				<a class="d-block px-2 py-1 fs-6 fw-bold text-uppercase text-black text-decoration-none" href="#">[[#{plantilla.nosotros}]]</a>
				<a class="d-block px-2 py-1 fs-6 fw-bold text-uppercase text-black text-decoration-none" th:href="@{/producto/listado}">[[#{plantilla.productos}]]</a>
				<a class="d-block px-2 py-1 fs-6 fw-bold text-uppercase text-black text-decoration-none" th:href="@{/categoria/listado}">[[#{plantilla.categorias}]]</a>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle d-block px-1 py-2 fs-8 fw-bold text-uppercase text-black text-decoration-none" data-bs-toggle="dropdown"
				                                 href="#"
				                                 role="button"
				                                 aria-expanded="false">[[#{Plantilla.Reservas}]]</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item"  th:href="@{/NuevaReservacion/NuevaReservacion}">[[#{Plantilla.Reservas}]]</a></li>
						<li><a class="dropdown-item" th:href="@{/reservaslistado/listado}">[[#{reservas.listado}]]</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle d-block px-1 py-2 fs-6 fw-bold text-uppercase text-black text-decoration-none" data-bs-toggle="dropdown"
				                                 href="#"
				                                 role="button"
				                                 aria-expanded="false">[[#{plantilla.pruebas}]]</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item"  th:href="@{/pruebas/listado}">[[#{plantilla.asociaciones}]]</a></li>
						<li><a class="dropdown-item" th:href="@{/pruebas/listado2}">[[#{plantilla.consultas}]]</a></li>
					</ul>
				</li>
			</nav>
                        <ul class="navbar-nav">
                            </ul>
			<div class="col-6 d-flex justify-content-center align-items-center">
                            
				<a th:href="@{/}">
					<img class="img-fluid" style="width: 200px; height: auto;" src="https://firebasestorage.googleapis.com/v0/b/proyectoappsweb-1ca6f.appspot.com/o/Logo.jpg?alt=media&token=17445fcf-03e4-4f4f-bf81-47728a88c153" alt="imagen logo no carga">
				</a>
			</div>
			<nav class="col-1 d-flex flex-column align-items-center mt-5 mt-md-0 flex-md-row justify-content-md-end">
				<button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#loginModal">
					<i class="fas fa-sign-in-alt"></i>[[#{plantilla.iniciarsesion}]]</button>
			</nav>
			<nav class="col-2 d-flex flex-column align-items-center mt-5 mt-md-0 flex-md-row justify-content-md-end">
				<a class="d-block px-2 py-1 fs-6 fw-bold text-uppercase text-black text-decoration-none" th:href="@{/(lang=es)}">ES</a>
				<a class="d-block px-2 py-1 fs-6 fw-bold text-uppercase text-black text-decoration-none" th:href="@{/(lang=en)}">EN</a>
			</nav>
		</div>
	</div>
	
	<section th:fragment="registerModal">
		<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="registerModalLabel">Registrarse</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/register}" method="post" class="was-validated">
							<div class="mb-2">
								<label for="nombre" class="form-label">Nombre</label>
								<input type="text" class="form-control" id="nombre" name="nombre" required>
							</div>
							<div class="mb-2">
								<label for="correoRegistro" class="form-label">Correo</label>
								<input type="email" class="form-control" id="correoRegistro" name="correo" required>
							</div>
							<div class="mb-2">
								<label for="claveRegistro" class="form-label">Clave</label>
								<input type="password" class="form-control" id="claveRegistro" name="clave" required>
							</div>
							<div class="mb-2">
								<label for="telefonoRegistro" class="form-label">Teléfono</label>
								<input type="tel" class="form-control" id="telefonoRegistro" name="telefono" required>
							</div>
							<div class="mb-2">
								<label for="direccionRegistro" class="form-label">Dirección</label>
								<input type="text" class="form-control" id="direccionRegistro" name="direccion" required>
							</div>
							<input type="hidden" name="idRol" value="1"/>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Registrarse</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section th:fragment="forgotPasswordModal">
		<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="forgotPasswordModalLabel">Recuperar Contraseña</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/forgot-password}" method="post" class="was-validated">
							<div class="mb-3">
								<label for="correoRecuperar" class="form-label">Correo</label>
								<input type="email" class="form-control" id="correoRecuperar" name="correo" required>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section th:fragment="loginModal">
		<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/login}" method="post" class="was-validated">
							<div class="mb-3">
								<label for="correo" class="form-label">Correo</label>
								<input type="email" class="form-control" id="correo" name="correo" required>
							</div>
							<div class="mb-3">
								<label for="clave" class="form-label">Clave</label>
								<input type="password" class="form-control" id="clave" name="clave" required>
							</div>
							<div class="d-grid gap-2">
								<button type="submit" class="btn btn-primary">Iniciar Sesión</button>
								<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss="modal">Registrarse</button>
								<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" data-bs-dismiss="modal">Olvidé mi contraseña</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>


</header>


<footer th:fragment="footer" class="bg-info text-white mt-5 p-2">
	<div class="container">
		<div class="col">
			<p class="lead text-center">
				&COPY [[#{plantilla.derechos}]]
			</p>
		</div>
	</div>

</footer>

</body>

</html>