<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:fragment="head">
        <title>Parrillada Argentina EL Che</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </head>

    <body>
    <header th:fragment="header" class="header">
	    <div class="container-xl">
		    <div class="row align-items-center justify-content-between">
			    
			    <!-- Logo -->
			    <div class="col-auto d-flex justify-content-start align-items-center">
				    <a th:href="@{/}">
					    <img class="img-fluid" style="width: 200px; height: auto;" src="https://firebasestorage.googleapis.com/v0/b/proyectoappsweb-1ca6f.appspot.com/o/Logo.jpg?alt=media&token=17445fcf-03e4-4f4f-bf81-47728a88c153" alt="imagen logo no carga">
				    </a>
			    </div>
			    
			    <!-- Navegación Principal -->
			    <nav class="col-5 col-md-5 d-flex flex-column flex-md-row align-items-center justify-content-center mt-5 mt-md-0">
				    <a class="d-block px-2 py-1 fs-6 fw-bold text-uppercase text-black text-decoration-none text-center" th:href="@{/nosotros/historia}">[[#{plantilla.nosotros}]]</a>
				    <a class="d-block px-2 py-1 fs-6 fw-bold text-uppercase text-black text-decoration-none text-center" th:href="@{/producto/listado}">[[#{plantilla.productos}]]</a>
				    <a class="d-block px-2 py-1 fs-6 fw-bold text-uppercase text-black text-decoration-none text-center" th:href="@{/categoria/listado}">[[#{plantilla.categorias}]]</a>
				    <a class="d-block px-2 py-1 fs-6 fw-bold text-uppercase text-black text-decoration-none text-center" th:href="@{/reservas/nueva}">Reservacion</a>
				    <a class="d-block px-2 py-1 ms-4 fs-6 fas fa-shopping-cart me-2 text-dark " th:href="@{/carrito/listado}"></a>
			    </nav>
			    

			    
			    <!-- Iniciar Sesión y Perfil -->
			    <nav class="col-auto d-flex flex-column align-items-center mt-5 mt-md-0 flex-md-row justify-content-md-end">
				    <ul class="navbar-nav d-flex align-items-center">
					    <!-- Iniciar Sesión -->
					    <li class="nav-item" sec:authorized="!isAuthenticated()">
						    <a class="nav-link d-flex align-items-center" th:href="@{/login}" title="Iniciar Sesión">
							    <i class="fas fa-sign-in-alt me-2"></i> Iniciar Sesión</a>
					    </li>
					    
					    <!-- Perfil y Cerrar Sesión -->
					    <li class="nav-item" sec:authorized="isAuthenticated()">
						    <a class="nav-link d-flex align-items-center" href="#" title="Perfil">
							    <i class="fas fa-user me-2"></i>
							    <span sec:authentication="name">[[${principal.name}]]</span>
						    </a>
					    </li>
					    <li class="nav-item" sec:authorized="isAuthenticated()">
						    <form method="post" th:action="@{/logout}" class="d-inline">
							    <button class="btn btn-dark" type="submit" title="Cerrar Sesión">
								    <i class="fas fa-sign-out-alt"></i>
							    </button>
						    </form>
					    </li>
				    </ul>
			    </nav>
		    
		    </div>
	    </div>
    </header>
    
    
    
    
    
    
    
    
    <footer th:fragment="footer" class="bg-info text-white mt-5 p-2">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">
                        &COPY [[#{plantilla.derechos}]]
                    </p>
                </div>
            </div>

        </footer>

    </body>

</html>