<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/plantilla :: head}">

</head>

<body>

<header th:replace="~{layout/plantilla :: header}"></header>

<section th:replace="~{index/fragmentoIndex :: banner}"></section>

<section th:replace="~{index/fragmentoIndex :: mostrarBannerHistoria}"></section>

<section th:replace="~{index/fragmentoIndex :: mostrarCarruselProductos}"></section>

<section th:replace="~{index/fragmentoIndex :: mostrarCategorias}"></section>

<section th:replace="~{index/fragmentoIndex :: mostrarMapa}"></section>

<footer th:replace="~{layout/plantilla :: footer}"></footer>

</body>
</html>