<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <body>
        <!-- 1 Sección principal para mostrar la informaccion de las categorias -->
        <section th:fragment="categoriasTabs" id="categorias">
            <div class="row py-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" 
                           aria-current="page" 
                           href="/pruebas/listado"
                           >[[#{pruebas.todas}]]</a>
                    </li>
                    <li th:each="categoria : ${categorias}" class="nav-item">
                        <a class="nav-link" 
                           th:href="@{/pruebas/listado/}+${categoria.idCategoria}"
                           >[[${categoria.nombre}]]</a>
                    </li>                    
                </ul>
            </div>
        </section>

        <!-- 2 Sección principal para mostrar la informaccion de la entidad producto -->
        <section th:fragment="listadoProductos" id="productos" class="py-4">
	        <div class="container">
		        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
			        <div class="col" th:each="p : ${productos}">
				        <div class="card h-100">
					        <figure class="card-img-top">
						        <img th:src="${p.rutaImagen}" class="img-fluid" alt="Imagen del producto" style="height: 200px; object-fit: cover;"/>
						        <figcaption class="text-center mt-2">
							        <span class="fw-bold">[[${p.precio}]]</span>
						        </figcaption>
					        </figure>
					        <div class="card-body text-center">
						        <h4 class="card-title">[[${p.descripcion}]]</h4>
						        <p class="card-text">[[${p.nombre}]]</p>
					        </div>
				        </div>
			        </div>
		        </div>
	        </div>
        </section>
        
        
        <!-- 3 Sección para crear los filtros -->
        <!-- archivo: fragmentos.html -->
        <section th:fragment="filtros" class="bg-light py-4">
	        <div class="container">
		        <div class="row justify-content-center">
			        <div class="col-md-8 col-lg-6">
				        <form method="POST" th:action="@{/pruebas/query1}" class="was-validated">
					        <div class="card">
						        <div class="card-body">
							        <div class="mb-3">
								        <label for="precioInf" class="form-label">[[#{pruebas.precio.inferior}]]</label>
								        <input type="number" id="precioInf" class="form-control"
								               th:value="${precioInf}" th:name="precioInf" required/>
							        </div>
							        <div class="mb-3">
								        <label for="precioSup" class="form-label">[[#{pruebas.precio.superior}]]</label>
								        <input type="number" id="precioSup" class="form-control"
								               th:value="${precioSup}" th:name="precioSup" required/>
							        </div>
						        </div>
						        <div class="card-footer text-center">
							        <button type="submit" class="btn btn-primary">
								        <i class="fas fa-check me-2"></i> [[#{pruebas.ampliadas}]]
							        </button>
						        </div>
					        </div>
				        </form>
			        </div>
		        </div>
	        </div>
        </section>
    
    
    
    
    
    </body>
</html>